<header class="header">

    <nav class="navigation">
        <div class="nav-wrapper">
            <a class="site-title" href="#" >
                LAMBA
                <span class="dot">.</span>
            </a>

            <input id="menu-checkbox" type="checkbox" class="menu-checkbox" />
            <label for="menu-checkbox" class="menu-toggle"><i class="bi bi-list"></i></label>
            <ul class="menu">
                <li class="has-children">
                    <a [routerLink]="['/home']">ACCUEIL</a>
                    <ul class="dropdown">
                        <li><a href="">SUBMENU 1</a></li>
                        <li><a href="">SUBMENU 2</a></li>
                        <li><a href="">SUBMENU 3</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a [routerLink]="['/products']">PRODUITS</a>
                </li>
                <li *ngFor="let category of categories">
                    <a [routerLink]="['/products',  {'productId': category['id']}]">{{category['name'] | uppercase}}</a>
                </li>
                <li>
                    <a [routerLink]="['/panier']">
                        PANIER
                      </a>
                    <!-- <a href="">PANIER</a> -->
                </li>
                
            </ul>
            
            <form style="float: right;" class="form-inline mr-auto">
                <input name="keyword" class="form-control mr-sm-2" type="text" aria-label="Search" [(ngModel)]="keyword">
                <button class="btn btn-primary btn-rounded btn-sm my-0" (click)="search()" type="submit">Rechercher</button>
            </form>

            <div class="menu-icons">
                <a id="btn-search" class="btn-search" href="#" >
                    <i class="bi bi-search" ></i>
                </a>
                <a class="user-profile" href="#" >
                    <i class="bi bi-person" ></i>
                </a>
                <a class="cart" href="#" >
                    <i class="bi bi-cart" ></i>
                </a>
            </div>
        </div> 
    </nav>
</header>