<div class="banner-place">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let slide of current_slide">
        <div class="img-place">
          <img class="left-img" src="https://picsum.photos/900/500?random&t=6" alt="Random slide">
          <img class="right-img" src="https://picsum.photos/900/500?random&t=8" alt="Random slide">
        </div>
        
        <div class="carousel-caption">
          <h3>{{ slide['name'] }}</h3>
          <!-- <p [innerText]="slide.description"></p> -->
        </div>
      </ng-template>
    </ngb-carousel>
</div>